.flex-all-center{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn{
    padding: 2px 5px;
    background-color: var(--main-bg-color);
    color: white;
    border: 2px solid rgb(226, 150, 150);
    border-radius: 5px;
    cursor: pointer;
}
.my-2{
    margin: 20px 0 10px 0;
}
.text-center{
    text-align: center;
}